---
layout: default
---

<style>
  .highlight-post:before {
    content: '*';
    font-size: 16px; /* 调整字体大小以匹配标题 */
    color: #1a1a1a; /* 调整颜色以匹配标题颜色 */
    display: inline-block;
    width: 20px; /* 调整宽度以保持*号与标题的距离 */
    margin-right: 5px; /* 在*号和标题之间添加一些空间 */
    line-height: 1.5; /* 调整行高以垂直居中*号 */
    vertical-align: middle;
  }

  .highlight-post {
    display: flex;
    align-items: center;
  }
</style>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      {% if post.title == "测试博客字段" %}
        <p class="highlight-post" style="color: #1a1a1a; font-weight: normal; font-size: 16px;">
          <span class="star">* </span>
          <a href="{{ site.baseurl }}{{ post.url }}" style="color: inherit;">{{ post.title }}</a>
        </p>
      {% else %}
        <p style="color: #1a1a1a; font-weight: normal; font-size: 16px;"><a href="{{ site.baseurl }}{{ post.url }}" style="color: inherit;">{{ post.title }}</a></p>
      {% endif %}
      <!-- 其他代码保持不变 -->
    </article>
  {% endfor %}
</div>
