---
layout: default
---

<style>
  .post-highlight a {
    display: inline-block; /* 使整个标题作为一个块级元素显示 */
    font-weight: bold; /* 加粗字体 */
  }

  .post-highlight:before {
    content: '✱';
    font-size: 16px; /* 调整字体大小以匹配标题 */
    color: #1a1a1a; /* 调整颜色以匹配标题颜色 */
    display: inline-block;
    width: 20px; /* 调整宽度以保持*号与标题的距离 */
    margin-right: 5px; /* 在*号和标题之间添加一些空间 */
    line-height: 1.5; /* 调整行高以垂直居中*号 */
    vertical-align: middle;
    float: left; /* 使*号浮动在左侧 */
    margin-left: -1.5rem; /* 使用提供的类来移动元素 */
  }
.post-divider {
    height: 40px; /* 设置高度为40px */
    clear: both; /* 清除浮动 */
  }
 .post a {
    color: inherit; /* 让链接继承父元素的字体颜色 */
  }
</style>




<div class="posts">
  <div class="post-divider"></div>
  {% for post in site.posts %}
    <article class="post">
      {% if post.starred %}
        <a class="post-highlight" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
      <!-- 其他代码保持不变 -->
    </article>
  {% endfor %}
</div>


  
</div>
